<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <script src='angular.js'></script>
    <script src = 'app.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
<body ng-controller = 'NarrowItDownController as list'>
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model='list.text'>
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click='list.narrow()'>Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items items="list.items" on-remove="list.remove(index)"></found-items>
  </div>

</body>
</html>
